<div class="formDiv">
  <form action="/newFolder" method="POST" class="postForm">
    <fieldset>
      <label for="newFolder">Folder Name:</label>
      <input name="newFolder" id="newFolder" type="text" />
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</div>
