<div class="uploadFileForm">
  <h1>Login</h1>
  <form action="/uploadFile" method="POST" class="postForm">
    <fieldset>
      <label for="file">Upload Your Files:</label>
      <input name="file" id="file" type="file" multiple />
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</div>
