<div class="uploadFileForm">
  <h1>Login</h1>
  <form
    action="/folder/<%= folderName %>/uploadFile"
    method="POST"
    class="postForm"
    enctype="multipart/form-data"
  >
    <fieldset>
      <label for="uploaded_file">Upload Your File:</label>
      <input name="uploaded_file" id="uploaded_file" type="file" />
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</div>
