<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('ejsSideBar') %>

    <h3>Whoops, you're in the wrong area!</h3>
    <a href="/">Come back</a>
</body>
</html>