<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | Home</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="/js/buttonRoutes.js" defer></script>
  </head>
  <body>
    <div class="indexImg">img</div>
    <div class="indexRow">
      <div class="indexImg">img</div>
      <div class="mainPokemon">Pokemon</div>
      <div class="indexImg">img</div>
    </div>
    <button onclick="viewTrainersButton()">View Trainers</button>
  </body>
</html>
