<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | newTeam</title>
    <link rel="stylesheet" href="newForm.css" />
  </head>
  <body>
    <form>
      <fieldset>
        <label>Pokemon 1:</label>
        <input type="text" />
      </fieldset>
      <fieldset>
        <label>Pokemon 2:</label>
        <input type="text" />
      </fieldset>
      <fieldset>
        <label>Pokemon 3:</label>
        <input type="text" />
      </fieldset>
      <fieldset>
        <label>Pokemon 4:</label>
        <input type="text" />
      </fieldset>
      <fieldset>
        <label>Pokemon 5:</label>
        <input type="text" />
      </fieldset>
      <fieldset>
        <label>Pokemon 6:</label>
        <input type="text" />
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
