<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | teams</title>
    <link rel="stylesheet" href="trainers.css" />
  </head>
  <body>
    <h1>Trainer's Pokemon Teams:</h1>
    <div>stuff</div>
    <div class="bottomRow">
      <div>
        <button>Add New Team</button>
        <button>Remove Trainer</button>
      </div>
      <button>Back To Trainers</button>
    </div>
  </body>
</html>
