<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | teams</title>
    <link rel="stylesheet" href="trainers.css" />
    <script src="/js/buttonRoutes.js" defer></script>
  </head>
  <body>
    <h1>Trainer's Pokemon Teams:</h1>
    <div class="outerTeamsDiv">
      <div class="teamsDiv">
        <h2>1</h2>
        <div class="innerTeamsDiv">
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
        </div>
      </div>
      <div class="teamsDiv">
        <h2>2</h2>
        <div class="innerTeamsDiv">
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
          <div class="teamsImg"></div>
        </div>
      </div>
    </div>
    <div class="bottomRow">
      <div>
        <button onclick="newTeamFormButton()">Add New Team</button>
        <button onclick="console.log(`You removed a trainer! Later...`)">
          Remove Trainer
        </button>
      </div>
      <button onclick="viewTrainersButton()">Back To Trainers</button>
    </div>
  </body>
</html>
