<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | team</title>
    <link rel="stylesheet" href="trainers.css" />
    <script src="/js/buttonRoutes.js" defer></script>
  </head>
  <body>
    <h1>Team 1</h1>
    <div>stuff</div>
    <div class="bottomRow">
      <button onclick="console.log(`You removed a team! Later...`)">Remove Team</button>
      <button onclick="viewTeamsButton()">Back to Trainer</button>
    </div>
  </body>
</html>
