<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | trainers</title>
    <link rel="stylesheet" href="trainers.css" />
    <script src="/js/buttonRoutes.js" defer></script>
  </head>
  <body>
    <h1>Pokemon Trainers</h1>
    <div class="trainersDiv">
        <% trainers.map((object) => {%>
          <h2 ><%= object.trainer %></h2>
        <% }) %>
    </div> 
    <div class="bottomRow">
      <button onclick="newTrainerFormButton()">Add New Trainer</button>
      <button onclick="homeButton()">Back to Home</button>
    </div>
  </body>
</html>
