<div class="loginForm">
  <h1>Login</h1>
  <form action="/login" method="POST">
    <fieldset>
      <label for="username">Username:</label>
      <input
        name="username"
        id="username"
        type="email"
        placeholder="matt@gmail.com"
      />
    </fieldset>
    <fieldset>
      <label for="password">Password:</label>
      <input name="password" id="password" type="password" />
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</div>
