<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | newPokemon</title>
    <link rel="stylesheet" href="/newForm.css" />
  </head>
  <body>
    <form action= "/newPokemon/<%= trainer %>" method="POST">
      <fieldset>
        <label for="pokemon">Pokemon Name:</label>
        <input type="text" name="pokemon" id="pokemon" />
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
