<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | newTrainer</title>
    <link rel="stylesheet" href="newForm.css" />
  </head>
  <body>
    <form action="/newTrainer" method="POST">
      <fieldset>
        <label for="trainer">Trainer Name:</label>
        <input type="text" name="trainer" id="trainer"/>
      </fieldset>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
