<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | team</title>
    <link rel="stylesheet" href="/trainers.css" />
  </head>
  <body>
    <h1><%= trainerName %>'s Team</h1>
    <div class="teamDiv">
      <% team.map((obj) => { %>
        <div class="pokemonDiv">
          <h3><%= obj.pokemon %></h3>
          <div class="teamImg"></div>
        </div>
      <% }) %>
    </div>
    <div class="bottomRow">
      <button><a href="/newPokemon/<%= trainerName%>">Add Pokemon?</a></button>
      <button><a href="/trainers">Back to Trainer</a></button>
    </div>
  </body>
</html>
