<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon | trainers</title>
    <link rel="stylesheet" href="trainers.css" />
  </head>
  <body>
    <h1>Pokemon Trainers</h1>
    <div class="trainersDiv">
      <% trainers.map((obj) => { %>
        <h2><a href="/team/<%= obj.trainer_name %>"><%= obj.trainer_name %></a></h2>
        <form action="/trainers" method="POST" style="display:inline;">
          <input type="hidden" name="trainerName" value="<%= obj.trainer_name%>" />
          <button type="submit">Remove Trainer?</button>
        </form>
      <% }) %>
    </div> 
    <div class="bottomRow">
      <button><a href="/newTrainer">Add New Trainer</a></button>
      <button><a href="/">Back to Home</a></button>
    </div>
  </body>
</html>
