<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
  </head>
  <body>
    <ul>
        <% users.forEach((user) => { %>
          <%- include('user', {user: user}); %>
        <% }); %>
    </ul>
    
    <p><%- include('navbar', {links:links}) %></p>
 </body>
</html>
