* {
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 59, 59);
  color: white;
  min-height: 100vh;
  height: auto;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  border: 1px solid white;
  background-color: rgb(129, 10, 10);
  padding: 10px;
  list-style: none;
  button {
    margin-top: 10px;
    cursor: pointer;
  }
}

a {
  color: white;
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  gap: 15px;
  fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    gap: 5px;
  }
}

#sidebar {
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  min-height: 100vh;
  background-color: brown;
  ul {
    border: none;
    background-color: brown;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap:30px;
    a {
      text-decoration: none;
    }
  }
}