<form id="searchForm" action="/" method="GET">
    <fieldset>
        <label for="search">Search Name:</label>
        <input type="search" name="search" id="search"/>
    </fieldset>
    <button type="submit">Submit</button>
</form>