body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: radial-gradient(darkblue, black);
    min-height: 100vh;
    height: auto;
    color: white;
    flex-flow: column;
}

.mainPokemon {
    font-size: 3.5rem;
    font-weight: 800;
}

form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    gap: 3vh;
    background-image: radial-gradient(red, red, white);
    border: 2px solid white;
    border-radius: 100%;
    box-shadow: 0 0 100px rgb(255, 255, 255);
    padding: 70px;
    padding-bottom: 100px;
    padding-top: 100px;
}

fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    flex-flow: column;
    gap: 10px;
    border: none;
}
