body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: radial-gradient(darkblue, black);
    min-height: 100vh;
    height: auto;
    color: white;
    flex-flow: column;
}

.mainPokemon {
    font-size: 3.5rem;
    font-weight: 800;
}

.bottomRow {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.trainersDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row;
    width: 80vw;
    background-color: #131329;
    border: solid white 3px;
    h2 {
        padding: 20px;
    }
    h2:hover {
        cursor: pointer;
        box-shadow: 0px 0px 50px 3px red;
        background-color: red;
        border-radius: 50%;
    }
}

.teamsDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row;
    width: 80vw;
    background-color: #131329;
    border: solid white 3px;
    border-radius: 80px;
    h2 {
        padding: 30px;
    }
    h2:hover {
        cursor: pointer;
        box-shadow: 0px 0px 50px 3px green;
        background-color: green;
        border-radius: 50%;
    }
}

.innerTeamsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width: 65vw;
    background-color: #131329;
}

.outerTeamsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 90vw;
    gap: 20px;
}

.teamsImg {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    border: 1px dotted white;
}

.teamDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 85vw;
}

.pokemonDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    min-height: 50vh;
    height: auto;
    .teamImg {
        height: 250px;
        width: 150px;
        border: 1px dotter white;
    }
}

