<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('partials/loginPage') %>
    <div class="signUp">
      <h4>New to this page? <a href="/signUp">Sign Up Here!</a></h4>
    </div>
    <div class="bottomButton">
      <button type="button"><a href="/clubPage">View Club Page</a></button>
    </div>
  </body>
</html>
