<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
      <%- include('partials/navBarSignedIn') %>
      <div class="mainBody">
        <button><a href="/folder/<%= folderName %>/uploadFile">Upload new files?</a></button>
        <!-- map the files in the respective folder, but for now before changing the schema just show this  -->
        <div>
          <h2>Files:</h2>
          <% files.map(file => { %>
            <h3>File Uploaded:</h3>
            <img src="/<%= file.filepath.replace(/\\/g, '/') %>" alt="<%= file.filename %>" class="fileImg">
          <% }) %>
      </div>
  </body>
</html>