<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
      <%- include('partials/navBarSignedIn') %>
      <button><a href="/folder/<%= folderName %>/uploadFile">Upload new files?</a></button>
      <div class="mainBody">
        <!-- map the files in the respective folder, but for now before changing the schema just show this -->
        <div>
          <h3>Files:</h3>
      </div>
  </body>
</html>
